* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

:root {
  --p-color: #ac1414;
  --s-color: #fbf5eb;
  --t-color: #ffffff;
  --q-color: #f4e1c6;
}


body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--s-color);
}

.container {
  display: flex;
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imagem {
  flex: 1;
}

.imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.formulario {
  flex: 1;
  background-color: #ac1414;
  color: white;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.formulario h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.formulario p {
  margin-bottom: 20px;
}

.formulario a {
  color: #fff;
  text-decoration: underline;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}

button {
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/*Adicionar olhinho*/
.input-senha {
  position: relative;
  display: flex;
  align-items: center;
}

.input-senha input {
  flex: 1;
  padding-right: 40px; 
}

.botao-olho {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
}


.home-link {
  display: block;
  text-align: center;
  margin-top: 25px; 
  color: #f9ecd9;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.3s ease;
}

.home-link:hover {
  color: #ffffff;
}