.footer {
    background-color: #A31621;
    color: white;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
  }
  
  .contatos, .menu, .form {
    flex: 1;
    min-width: 200px;
  }
  
  .contatos, .menu, .form h3 {
    margin-bottom: 15px;
  }
  
  .contatos p, a,
  .menu a,
  .form label, p {
    font-size: 14px;
    line-height: 1.6;
    color: white;
    text-decoration: none;
  }
  
  .form input,
  .form textarea {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: none;
  }
  
  .form textarea {
    height: 100px;
    resize: vertical;
  }
  
  .form button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #333;
  }
  