body{
  background-color: #f9f9f9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.img img {
  max-width: 100%;
  height: auto;
  width: 400px;
}

.sobre {
  padding: 60px 40px;
  font-family: Arial, sans-serif;
  max-width: 500px;
}

.sobre h1 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 1.2;
  border-left: 4px solid black;
  padding-left: 15px;
}

.sobre h1 span {
  color: #A31621;
  font-weight: bold;
}

.sobre p {
  font-size: 16px;
  color: black;
  line-height: 1.6;
  text-align: justify;
}
